<div class="mt-5 mb-5 textcolorwhite">
  <p class="text-white">ESB</p>
</div>
<div class="container mt-3">
  <div class="card col-md-6 offset-3 mt-2 policy shadow">
    <div class="card-header text-center text-color-red">
      <b>Entrer votre email pour recevoir un code de vérification</b>
    </div>
    <div class="card-body">
      <form [formGroup]="pwdFormGroup" (ngSubmit)="handleSend()">

        <div class="mb-3">
          <label class="form-label"><b>Email</b></label>
          <input type="text" formControlName="email" class="form-control">
          <span class="text-danger" *ngIf="pwdFormGroup.controls['email'].touched
          && pwdFormGroup.controls['email'].errors
          && pwdFormGroup.controls['email'].errors!['required']">
            l'email de l'utilisateur est obligatoire.
          </span>
        </div>

        <button [disabled]="!pwdFormGroup.valid" class="btn bg-red text-white">
          Envoyez
        </button>
      </form>
    </div>
  </div>
</div>
