<nav class="navbar navbar-expand-lg bg-red shadow fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">
      <img ngSrc="assets/images/esb.jpg" width="46" height="46" class="d-inline-block align-top circular-image" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-lg-center" id="navbarSupportedContent" *ngIf="authService.isloggedIn">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <b>MON PROFILE</b>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/rapport">Rapport</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/dashboard">
            <b>DASHBOARD</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/dashboard">
            <b>TABLEAU</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/dashboard">
            <b>RAPPORT</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/dashboard">
            <b>SONDAGE</b>
          </a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown2">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <b>{{authService.loggedUser}}</b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li> <a class="nav-link">{{authService.loggedUser}}</a></li>
            <li><a *ngIf="!authService.isloggedIn" class="dropdown-item" (click) = "onLogin()">login</a></li>
            <li><a *ngIf="authService.isloggedIn" class="dropdown-item" (click) = "onLogout()">logout</a></li>
          </ul>
        </li>
      </ul>
      <a *ngIf="authService.isloggedIn" class="navbar-brand" routerLink="/dashboard">
        <img src="{{imageProfile}}" width="46" height="46" class="d-inline-block align-top circular-image" alt="">
      </a>
    </div>

  </div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
