<div class="mt-5 mb-5 textcolorwhite">
  <p class="text-white">ESB</p>
</div>
<div class="container mt-3">
  <div class="card col-md-6 offset-3 mt-2 policy shadow">
    <div class="card-header text-center text-color-red">
      <b>Modification du mot de passe</b>
    </div>
    <div class="card-body">
      <form [formGroup]="updateFormGroup" (ngSubmit)="handleUpdate()">

        <div class="mb-3">
          <label class="form-label"><b>Nom d'utilisateur</b></label>
          <input type="text" formControlName="username" class="form-control">
          <span class="text-danger" *ngIf="updateFormGroup.controls['username'].touched
          && updateFormGroup.controls['username'].errors
          && updateFormGroup.controls['username'].errors!['required']">
            le nom d'utilisateur est obligatoire.
          </span>
        </div>

        <div class="mb-3">
          <label class="form-label"><b>Code de vérification</b></label>
          <input type="text" formControlName="code" class="form-control">
          <span class="text-danger" *ngIf="updateFormGroup.controls['code'].touched
          && updateFormGroup.controls['code'].errors
          && updateFormGroup.controls['code'].errors!['required']">
            le code de vérification est obligatoire.
          </span>
        </div>

        <div class="mb-3">
          <label class="form-label"><b>Nouveau mot de passe</b></label>
          <input type="password" formControlName="password" class="form-control">
          <span class="text-danger" *ngIf="updateFormGroup.controls['password'].touched
          && updateFormGroup.controls['password'].errors
          && updateFormGroup.controls['password'].errors!['required']">
            Le mot de passe est obligatoire.
          </span>
        </div>
        <button [disabled]="!updateFormGroup.valid" class="btn bg-red text-white">
          Valider
        </button>
      </form>
    </div>
  </div>
</div>
